<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myemo">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_4_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEMO">

        <activity
            android:name=".Splash.SplashActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.HomeActivity"
            android:exported="true"
           >
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Fragment.Game2048.game2048.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Fragment.Game2048.ui.menu.Game_Record"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Fragment.changeimage.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Fragment.changeimage.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Fragment.changeimage.ImgActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Fragment.changeimage.ImgURi.headimgActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Fragment.Saolei.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Fragment.Saolei.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.LogActivity"
            android:exported="true"
            android:theme="@style/Theme.toolbar">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Log.LogEditActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>