<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myphonenumber">
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
<!--    获取可以向外通话的权限-->
<!--    获取查看用户通讯记录的权限-->
    <uses-permission android:name="android.permission.READ_CALL_LOG"></uses-permission>
<!--    获取可以发送短信的权限-->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 读短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="我的电话"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myphonenumber">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Newphone_user"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Numberuser_show"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.headimgActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Edituser_number"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.message_show"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MessageBoxList"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.message_edit"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Callphone_service"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Callphone_allcontacts"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_APP_INFO" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>